/*---- Search and other Archive pages ----*/

.search, .archive {
  #content {
    #primary {
      header.page-header {
        border-bottom: 0px;
        h1.page-title {
          color: @site-color;
        }
        .taxonomy-description {
          font-weight: 400;
          color: #aaa;
        }
      }
      article {
        border-bottom: 0px;
        h1.entry-title {
          font-weight: 700;
          font-size: xx-large;
        }
        .entry-meta {
          font-weight: 700;
          margin: 15px 0;
          span.posted-on {
            padding: 7px 10px;
            border: 1px solid @accent;
          }
          a {
            color: @site-color;
          }
          span.byline {
            padding: 7px 10px;
            border: 1px solid @accent;
            float: right;
            &:before {
              content: "\f007";
              font-family: "FontAwesome";
              margin-right: 5px;
              color: @accent;
            }
          }
        }
        .featured-thumb {
          text-align: center;
          img {
            width: 100%;
            display: inline-block;
            margin: auto;
          }
        }
        .entry-summary {
          padding: 0 20px;
          margin-top: 10px;
        }
        .entry-footer {
          display: inline-block;
          text-align: center;
          position: relative;
          width:100%;
          overflow: visible;
          border-top: solid 2px @site-color;
          margin: 20px 0px 40px 0px;
          padding: 15px 0;
          a {
            color: @site-color;
            font-weight: 400;
            text-transform: uppercase;
            font-size: 12px;
          }

          .cat-links {
            color: @site-color;
            position: relative;
            overflow: visible;
            height: auto;
            padding: 10px;
            transition: opacity ease-in-out .4s, top ease-in-out .4s;
            &:before {
              content: "\f07c";
              font-family: "FontAwesome";
              position: absolute;
              font-size: 40px;
              color: #eee;
              z-index: -1;
              margin-left: -20px;
            }
          }


          .tags-links {
            color: @site-color;
            position: relative;
            overflow: visible;
            height: auto;
            padding: 10px;
            transition: opacity ease-in-out .4s, top ease-in-out .4s;
            &:before {
              content: "\f02b";
              font-family: "FontAwesome";
              position: absolute;
              font-size: 40px;
              color: #eee;
              z-index: -1;
              margin-left: -20px;
            }
          }


          .comments-link {
            color: @site-color;
            position: relative;
            height: auto;
            padding: 10px;
            transition: opacity ease-in-out .4s, top ease-in-out .4s;
            &:before {
              content: "\f075";
              font-family: "FontAwesome";
              position: absolute;
              font-size: 40px;
              color: #eee;
              z-index: -1;
              margin-left: -20px;
            }
          }

          .edit-link {
            float: right;
            a {
              color: @site-color;
            }
          }
        }
      }
    }
  }
}
