#social-icons {
  font-size: 20px;
  padding: 15px 0px;
  i {
    padding: 0 5px;
    color: white;
    transform: scale(1,1);
    &:hover {
      animation: shake .82s cubic-bezier(.36,.07,.19,.97) both;
      transform: translate3d(0, 0, 0);
      backface-visibility: hidden;
      perspective: 1000px;
    }
  }
}
